<section id="event">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Upcomming Events</h2>
                </div>
            </div>
            <div class="col-xs-12 event" *ngFor="let event of events;let i = index">
                <div class="evt-cont">
                    <span>{{event}}</span>
                </div>
            </div>
        </div>
    </div>
</section>