<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="gg-screen"></div>
                <div class="gg-box">
                    <div class="gg-element" *ngFor="let image of images;let i = index">

                        <img [src]="image">
                        <div class="description">
                            sd fsdf sdfsd fsdfsdfjl sfsdjflskd fsd flj sdlfkeslfsdfn lklfsd
                            sd fsdf sdfsd fsdfsdfjl sfsdjflskd fsd flj sdlfkeslfsdfn lklfsd
                            sd fsdf sdfsd fsdfsdfjl sfsdjflskd fsd flj sdlfkeslfsdfn lklfsd
                            sd fsdf sdfsd fsdfsdfjl sfsdjflskd fsd flj sdlfkeslfsdfn lklfsd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>