    .profile-img {
        margin-top: -50%;
    }
    
    .profile-title {
        padding-top: 35px;
    }
    
    @media screen and (max-width: 1199px) {
        .profile-title {
            padding-top: 20px;
        }
    }
    
    @media screen and (max-width: 991px) {
        .profile-title {
            padding-top: 20px;
            font-size: 35px;
        }
        .profile-title h4 {
            font-size: 20px;
        }
    }
    
    @media screen and (max-width: 768px) {
        .profile-title {
            text-align: center;
        }
        .mb-30 {
            margin-bottom: 30px;
        }
    }
    
    .timeline {
        margin: 30px 0px;
    }
    
    .timeline__content h2 {
        font-size: 2.50rem;
        font-weight: 700;
        margin: 0 0 .625rem;
    }
    
    .timeline__content p {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    
    .timeline-divider {
        background-color: #ffb329 !important;
    }
    
    .profile-details .row {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .profile-details .container-fluid:nth-child(even) {
        background-color: #f1f1f1;
    }
    
    .profile-details .container-fluid:nth-child(odd) {
        background-color: #FFF;
    }