<!-- Start Testimonials -->
<div class="profile">
    <div class="testi-inner area-padding" style="height: 200px;">
        <div class="testi-overly"></div>

    </div>
</div>
<div class="container-fluid profile-title-container">
    <div class="container ">
        <div class="row">
            <div class="col-xs-3" style="z-index: 8">
                <img [src]="data.profilePic" alt="" class="img-thumbnail img-border img-responsive img" style="margin-top: -125px">
            </div>
            <div class="col-xs-9 text-justify " style="    padding-top: 35px;">
                <h1 class=" spl-font">{{data.name}}
                    <h4 class="spl-font ">{{data.post}}</h4>
                </h1>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12" style="height: 500px;"></div>
    </div>
</div>