/* You can add global styles to this file, and also import other style files */

* {
    border-radius: 0px !important;
}



/* Smartphones (landscape) ----------- */

@media only screen and (max-width: 767px) {
    body {
        padding-top: 60px;
    }
}

.owl-carousel.owl-loaded.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.owl-carousel .owl-nav button.owl-next {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    right: 0px;
    top: 42%;
    width: 30px;
    height: 30px;
    background: #F97D09!important;
}

.owl-carousel .owl-nav button.owl-prev {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    left: 0px;
    top: 42%;
    width: 30px;
    height: 30px;
    background: #F97D09!important;
}

.owl-theme .owl-nav {
    margin-top: 0px !important;
}

.navbar-brand>img {
    display: block;
    width: 112px;
    height: 43px;
}

.owl-carousel .owl-item img {
    max-height: 600px;
    width: 100%;
}

.owl-carousel .owl-item span {
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    left: 50px;
    top: 70%;
    color: #F97D09;
    font-size: 49px;
    text-shadow: 2px 6px 9px #f97d09a8;
    background-color: #ffffffc7;
    border-radius: 5px !important;
    padding: 23px 33px 26px;
    box-shadow: 2px 2px 8px 0px #3b3b3bc7;
}

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffa500d6;
}
.spl-font{
    font-family: 'Kaushan Script', cursive;
}
#about .title {
    margin-bottom: 40px;
    font-family: 'Kaushan Script', cursive;
}

#event {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f9f9f9;
}

.event {
    padding: 2px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 1px 3px 7px -2px #3b3b3b3d;
}

.event span {
    font-size: 20px;
}

.evt-cont {
    background-color: #FFF;
    padding: 15px 23px;
}
.owl-theme .owl-nav{
    margin-top: 0px !important;
}
#gallery{
    margin-top: 120px;
    margin-bottom: 100px;
}
.gg-element{
    margin: 5px;
    padding: 5px;
    border: solid 1px #cccccc;
    box-shadow: 0px 0px 6px #cccccc;
}
#gallery .description{
    position: relative;
    bottom: 0px;
    left: 0px;
    font-weight: bold;
    background: #ffffffe3;
    padding: 10px;
    bottom: 58px;
    color: #000000ab;
    overflow: hidden;
    height: 58px;
    font-size: 14px;
    line-height: 22px;
}
.profile-title-container{
    background-color: #ffa500d6;
    padding-bottom: 15px;
}